/*Font Imports*/
@import url('https://fonts.googleapis.com/css?family=Arimo|Playfair+Display|Titillium+Web');

/*Variables*/
$btn-font: 'Arimo', sans-serif;
$h-font: 'Playfair Display', serif;
$p-font: 'Titillium Web', sans-serif;

/*General Elements*/
html {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax( 250px, 1fr ) );
  overflow-x: hide !important;
}

footer {
  background: #222;
  color: #fff;
  padding: 2rem 0rem;
  nav {
    ul {
      display: inline-block;
      a {
        color: #fff;
        list-style-type: none;
      }
    }
  }
}

h1, h4 {
   font-family: $h-font;
}

header{

  nav {
    background: #222;
    color: #fff;
    ul {
      a {
        color: #fff;
        list-style-type: none;
        &:hover {
          color: #fff;
        }
        li {
          background: #FF0D00;
          border-bottom: 2px solid #fff;
          border-top: 2px solid #fff;
          display: inline-block;
          font-family: $btn-font;
          list-style-type: none;
          margin-bottom: 0.5rem;
          margin-left: 2rem;
          margin-right: 2rem;
          margin-top: 2rem;
          padding: 1rem 2rem;
          &:hover {
            cursor: pointer;
            transform: scale(1.2);
          }
        }
      }
    }
  }

}

section {
  article {
    margin-bottom: 1rem;
    margin-top: 1rem;
    &:hover {
      cursor: pointer;
    }
    &:nth-child(2) {
      background: url("https://images.pexels.com/photos/2187661/pexels-photo-2187661.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") center;
      background-size: cover;
    }
    &:nth-child(3) {
      background: url("https://images.pexels.com/photos/1134166/pexels-photo-1134166.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") center center;
      background-size: cover;
    }
    &:nth-child(4) {
      background: url("https://images.pexels.com/photos/1829980/pexels-photo-1829980.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") center;
      background-size: cover;
    }
   &:nth-child(5) {
     background: url("https://images.pexels.com/photos/2187457/pexels-photo-2187457.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") center;
      background-size: cover;
    }
    &:nth-child(6) {
      background: url("https://images.pexels.com/photos/115603/pexels-photo-115603.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") center;
     background-size: cover;
    }
    h1 {
      background: rgb(220, 53, 69);
      color: #fff;
      text-align: center;
    }
    p {
      font-family: $p-font;
      text-align: center;
    }
    button {
      margin-bottom: 1rem;
      margin-right: 0.5rem;
      margin-top: 15rem;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

/*Classes*/
.article-heading {
  opacity: 0.7;
}

.article-paragraph {
  background: #222;
  font-size: 1.2rem;
  font-weight: bolder;
  opacity: 0.85;
}

.default-bkg {
  background: url("https://images.pexels.com/photos/46253/mt-fuji-sea-of-clouds-sunrise-46253.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") center;
}

.featured {
  background: url("https://images.pexels.com/photos/1822605/pexels-photo-1822605.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") center center;
}

.popular-prefectures {
  background: #222 url("") !important;
}

.popular-pref-sect {
  margin: 4rem 0rem;
  img {
    margin: 2rem;
    &:hover {
      border: 2px solid #007bff;
      padding: 1rem;
      transform: scale(1.2);
    }
  }
}

/*Media Queries*/

@media only screen and (min-width: 1000px) {
  .article-paragraph {
  margin-left: 2rem;
  position: relative;
  top: 18rem;
  width: 80%;
  }
}
